body.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "main article section"
    "footer footer footer";
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  margin: 0;
}

header {
  grid-area: header;
  background: lightblue;
  height: 20px;
}

main {
  grid-area: main;
  background: lightgreen;
}

section {
  grid-area: section;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section div:first-child {
  width: 100%;
  height: 50%;
  background: lightcoral;
}

section div:last-child {
  width: 100%;
  height: 50%;
  background: lightskyblue;
}

article {
  grid-area: article;
  background: lime;
}

footer {
  grid-area: footer;
  background: lightgray;
  height: 60px;
}