@media screen  and (min-width: 481px) and (max-width: 768px) {
    .content{
        padding: 48px 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 348px;
        max-height: 258px;
    }
    img{
        max-width: 140px;
        height: auto;
       
    }
    p{
        max-width: 90%;
    }
}